@import "../baseline.scss";

/* use some std colours */
@import "../stdcolours.scss";

$CBGP: #100009;
$CBGS: #380020;
$CCN:  #882D61;
$CFGP: #D7A0BF;
$CFGS: #F3DEEA;

/* skeleton */
@include skeleton_light($CFGP, $CFGS, $CCN, $CBGS, $CBGP);

/* and elements */
@include elements_light("", $CFGP, $CFGS, $CCN, $CBGS, $CBGP);


/* elements modifiers */
@include elements_light(".bbacred",   $CSTDRFGP, $CSTDRFGS, $CSTDRCN, $CSTDRBGS, $CSTDRBGP);
@include elements_light(".bbacgreen", $CSTDGFGP, $CSTDGFGS, $CSTDGCN, $CSTDGBGS, $CSTDGBGP);
@include elements_light(".bbacyel",   $CSTDYFGP, $CSTDYFGS, $CSTDYCN, $CSTDYBGS, $CSTDYBGP);
@include elements_light(".bbacblue",  $CSTDBFGP, $CSTDBFGS, $CSTDBCN, $CSTDBBGS, $CSTDBBGP);
