@import "../baseline.scss";

/* use some std colours */
@import "../stdcolours.scss";

$CBGP: #010612;
$CBGS: #04102D;
$CCN:  #2E4272;
$CFGP: #93A1C2;
$CFGS: #C7D0E4;

/* skeleton */
@include skeleton_dark($CBGP, $CBGS, $CCN, $CFGP, $CFGS);

/* and elements */
@include elements_dark("", $CBGP, $CBGS, $CCN, $CFGP, $CFGS);


/* elements modifiers */
@include elements_dark(".bbacred",   $CSTDRBGP, $CSTDRBGS, $CSTDRCN, $CSTDRFGP, $CSTDRFGS);
@include elements_dark(".bbacgreen", $CSTDGBGP, $CSTDGBGS, $CSTDGCN, $CSTDGFGP, $CSTDGFGS);
@include elements_dark(".bbacyel",   $CSTDYBGP, $CSTDYBGS, $CSTDYCN, $CSTDYFGP, $CSTDYFGS);
@include elements_dark(".bbacblue",  $CSTDBBGP, $CSTDBBGS, $CSTDBCN, $CSTDBFGP, $CSTDBFGS);

