@import "../baseline.scss";

/* use some std colours */
@import "../stdcolours.scss";

$CBGP: #1B0800;
$CBGS: #431300;
$CCN:  #AA5939;
$CFGP: #FFCDBA;
$CFGS: #FFE5DB;

/* skeleton */
@include skeleton_light($CFGP, $CFGS, $CCN, $CBGS, $CBGP);

/* and elements */
@include elements_light("", $CFGP, $CFGS, $CCN, $CBGS, $CBGP);


/* elements modifiers */
@include elements_light(".bbacred",   $CSTDRFGP, $CSTDRFGS, $CSTDRCN, $CSTDRBGS, $CSTDRBGP);
@include elements_light(".bbacgreen", $CSTDGFGP, $CSTDGFGS, $CSTDGCN, $CSTDGBGS, $CSTDGBGP);
@include elements_light(".bbacyel",   $CSTDYFGP, $CSTDYFGS, $CSTDYCN, $CSTDYBGS, $CSTDYBGP);
@include elements_light(".bbacblue",  $CSTDBFGP, $CSTDBFGS, $CSTDBCN, $CSTDBBGS, $CSTDBBGP);

