
/* The standard colours, cyan-based */

/* CYAN */
$CSTDBGP:  #003333; $CSTDBGS:  #074343; $CSTDFGP:  #226666; $CSTDCN:  #4C8989; $CSTDFGS:  #95BDBD;


/* RED */
$CSTDRBGP: #140000; $CSTDRBGS: #460000; $CSTDRFGP: #FFBEBE; $CSTDRCN: #AA3939; $CSTDRFGS: #FFE9E9;

/* GREEN */
$CSTDGBGP: #001000; $CSTDGBGS: #003800; $CSTDGFGP: #9FD69D; $CSTDGCN: #2D882D; $CSTDGFGS: #DEF3DE;

/*  YELLOW */
$CSTDYBGP: #140D00; $CSTDYBGS: #462B00; $CSTDYFGP: #FFE6BE; $CSTDYCN: #AA7F39; $CSTDYFGS: #FFF7E9;
$CSTDYBGP: #141400; $CSTDYBGS: #464600; $CSTDYFGP: #FFFFBE; $CSTDYCN: #AAAA39; $CSTDYFGS: #FFFFE9;

/* BLUE */
$CSTDBBGP: #00040E; $CSTDBBGS: #04112F; $CSTDBFGP: #919EBC; $CSTDBCN: #2E4272; $CSTDBFGS: #D9DFEB;


